.Container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LogContent{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
.sideContentL{
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkCon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    font-size: 1vw;
    text-decoration: none;
    color: red;
    transition: 0.5s;
}
.linkCon:hover{
    color: rgb(124, 0, 0);
}
.sideContentR{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}